<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="d00be9e9-4ca5-4134-a25d-6411b9d28fb6" Alias="favIcon" Level="1">
  <Info>
    <Name>FavIcon</Name>
    <Icon>icon-picture color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>ac5e5bcf-6ff3-4797-9121-27ea413b10d4</Key>
      <Name>Size</Name>
      <Alias>umbracoBytes</Alias>
      <Definition>930861bf-e262-4ead-a704-f99453565708</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[in bytes]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="favIcon">FavIcon</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ff6c9386-3fac-4d7d-a8e6-50808999aef4</Key>
      <Name>Type</Name>
      <Alias>umbracoExtension</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="favIcon">FavIcon</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b7837076-cc5a-4e9c-bbcd-741b0d9f3754</Key>
      <Name>FavIcon</Name>
      <Alias>umbracoFile</Alias>
      <Definition>546cb5a3-29b2-4b65-9788-cdbf3274419c</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="favIcon">FavIcon</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>118632bf-bb4f-495c-9581-0b5e0483f003</Key>
      <Caption>FavIcon</Caption>
      <Alias>favIcon</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</MediaType>