<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="72afb68e-99ec-44b6-b48b-63c83bb1db00" Alias="metadata" Level="2">
  <Info>
    <Name>Metadata</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a2508ae4-e106-4895-9b2c-e189f7df3d9f</Key>
      <Name>Author</Name>
      <Alias>metaAuthor</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the organisation's name as this page's author.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="metadata">Metadata</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dd04d112-9b0e-4352-ad3d-b9cd229bb1c0</Key>
      <Name>Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>83ee8477-576f-45ab-9152-b9f71c034f66</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Provides a summary of this page's content. Max 160 chars.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="metadata">Metadata</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c4d2440a-7f9b-49ab-acb4-634a1d144517</Key>
      <Name>Keywords</Name>
      <Alias>metaKeywords</Alias>
      <Definition>fd01b7b7-4bc9-4883-971b-c29dc1fdfea0</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lists the topics covered by this page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="metadata">Metadata</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9d92a90a-d4e2-477a-ac3f-84663e385bd2</Key>
      <Name>Title</Name>
      <Alias>metaTitle</Alias>
      <Definition>88a9e15d-eaa4-4cb4-884a-b4a2ea0ac713</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides this page's name as it's title. 60 chars max.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="metadata">Metadata</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>22794547-fec4-4e95-8b83-98ebef83227b</Key>
      <Caption>Metadata</Caption>
      <Alias>metadata</Alias>
      <Type>Tab</Type>
      <SortOrder>95</SortOrder>
    </Tab>
  </Tabs>
</ContentType>