<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="30a6657a-d998-459e-b28e-01d3c385c9f8" Alias="pageSettings" Level="2">
  <Info>
    <Name>Visibility</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f59a8165-7f7a-48ce-ae77-edf315c8cfdb</Key>
      <Name>Hide from navigation</Name>
      <Alias>visibilityHideFromNavigation</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Keeps this page out of navigation menus]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d7b5f4ad-8533-42a0-9007-d1d3abdba01e</Key>
      <Name>Hide from search results</Name>
      <Alias>visibilityHideFromSearchResults</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Keeps this page out of search results.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>feeb95b3-3f5f-4a06-99ab-41e05dda6bca</Key>
      <Name>Hide from sitemap</Name>
      <Alias>visibilityHideFromSitemap</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Keeps this page out of the sitemap.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings/visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>60ec8183-6afd-4fe8-bd73-fb247ba92560</Key>
      <Name>Robot instructions</Name>
      <Alias>visibilityRobotInstructions</Alias>
      <Definition>dbe8522a-5dae-42ee-b782-e5888172d305</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings/visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>62e6816a-10f5-48ea-808e-f79c0650fea4</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>99</SortOrder>
    </Tab>
    <Tab>
      <Key>b66fce8a-7ad9-4777-9c27-3e91ed748545</Key>
      <Caption>Visibility</Caption>
      <Alias>settings/visibility</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>