<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="813282cf-5c7d-4ca1-ad2a-f6dfc085b8da" Alias="scripts" Level="2">
  <Info>
    <Name>Scripts</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e828ad54-28c0-4d73-a8dd-766710204b23</Key>
      <Name>Body Close</Name>
      <Alias>scriptsBodyClose</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Appends just before the closing body tag of this page.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="scripts">Scripts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d063afdd-e2d8-46de-9b31-f0eaf09dc33c</Key>
      <Name>Body Open</Name>
      <Alias>scriptsBodyOpen</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Appends just after the opening body tag of this page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="scripts">Scripts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ebbc8cd-29f1-4d92-b02c-103ee695ab5b</Key>
      <Name>Head Close</Name>
      <Alias>scriptsHeadClose</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Appends just before the closing head tag of this page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="scripts">Scripts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c562a88d-58f1-4ae8-b00b-43426c38e342</Key>
      <Name>Head Open</Name>
      <Alias>scriptsHeadOpen</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Appends just after the opening head tag of this page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="scripts">Scripts</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>535d5ac7-3964-4659-91e8-e85e15512f87</Key>
      <Caption>Scripts</Caption>
      <Alias>scripts</Alias>
      <Type>Tab</Type>
      <SortOrder>97</SortOrder>
    </Tab>
  </Tabs>
</ContentType>