<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="049f72ca-a5e0-451e-b03d-26cb2510a62e" Alias="settings" Level="2">
  <Info>
    <Name>Settings</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>00c411e3-b979-42d4-a5a9-e6fd5f5968f4</Key>
      <Name>Auto reload</Name>
      <Alias>settingsAutoReload</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Forces this page to reload automatically.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/presentation">Presentation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2d050461-cc48-42e6-b1c2-dba0cf3ec174</Key>
      <Name>Character set</Name>
      <Alias>settingsCharset</Alias>
      <Definition>f9f44ab1-b18f-4a8f-9d34-626d037b9a54</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the character encoding of this page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/presentation">Presentation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>176d6428-7be0-400a-a347-8220ed9c322a</Key>
      <Name>Content type</Name>
      <Alias>settingsContentType</Alias>
      <Definition>f24b7e71-c810-4158-bb44-6f51276315c3</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the text/html format of this page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings/presentation">Presentation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c8b130db-f640-43db-9e49-beaf75ef9255</Key>
      <Name>Viewport</Name>
      <Alias>settingsViewport</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the dimensions and scaling for this page.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings/presentation">Presentation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5884d98c-0db2-4209-b77d-5279c1a470f6</Key>
      <Caption>Presentation</Caption>
      <Alias>settings/presentation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c6132602-1a29-4a28-ad86-11bb2df0c704</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>98</SortOrder>
    </Tab>
  </Tabs>
</ContentType>