<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="87b2a39f-9e43-40b7-a08f-a2d9242e029e" Alias="socials" Level="2">
  <Info>
    <Name>Sharing</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a80d1ce8-30fb-4dc6-aa56-dc461a808239</Key>
      <Name>OGP Description</Name>
      <Alias>sharingOgpDescription</Alias>
      <Definition>4ddcb1a0-5e1d-4ce2-8e66-1d9f44251c1a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the meta description when sharing to social media sites. Max 65 chars.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sharing">Sharing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>75745e23-4113-40ed-bc4b-9ff57fdf475a</Key>
      <Name>OGP Image</Name>
      <Alias>sharingOgpImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Provides an image for this page when sharing to social media sites. Ideally 1200x630 pixels.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sharing">Sharing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b2003738-f397-4617-840d-ea011404e7a1</Key>
      <Name>OGP Title</Name>
      <Alias>sharingOgpTitle</Alias>
      <Definition>88a9e15d-eaa4-4cb4-884a-b4a2ea0ac713</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overrides the meta title of this page when sharing to social media sites. Max 60 chars.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sharing">Sharing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5bd2ac78-8a2b-485c-961d-885cb9d6d673</Key>
      <Caption>Sharing</Caption>
      <Alias>sharing</Alias>
      <Type>Tab</Type>
      <SortOrder>96</SortOrder>
    </Tab>
  </Tabs>
</ContentType>