<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="78436c3d-a9b4-477f-8f4c-c75393026ec1" Alias="webpage" Level="1">
  <Info>
    <Name>Webpage</Name>
    <Icon>icon-umb-content</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="72afb68e-99ec-44b6-b48b-63c83bb1db00">metadata</Composition>
      <Composition Key="30a6657a-d998-459e-b28e-01d3c385c9f8">pageSettings</Composition>
      <Composition Key="813282cf-5c7d-4ca1-ad2a-f6dfc085b8da">scripts</Composition>
      <Composition Key="049f72ca-a5e0-451e-b03d-26cb2510a62e">settings</Composition>
      <Composition Key="87b2a39f-9e43-40b7-a08f-a2d9242e029e">socials</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>