<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="71024114-5bfc-4f53-b147-5009a85f8ead" Alias="website" Level="1">
  <Info>
    <Name>Website</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="72afb68e-99ec-44b6-b48b-63c83bb1db00">metadata</Composition>
      <Composition Key="813282cf-5c7d-4ca1-ad2a-f6dfc085b8da">scripts</Composition>
      <Composition Key="049f72ca-a5e0-451e-b03d-26cb2510a62e">settings</Composition>
      <Composition Key="87b2a39f-9e43-40b7-a08f-a2d9242e029e">socials</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="78436c3d-a9b4-477f-8f4c-c75393026ec1" SortOrder="0">webpage</ContentType>
    <ContentType Key="8e247fe6-ce66-4651-8471-abe0362caff1" SortOrder="1">news</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7f201b42-996d-455d-9dc9-4a940790036f</Key>
      <Name>Icon</Name>
      <Alias>organisationIcon</Alias>
      <Definition>e7d6d36f-92bd-4df7-9123-377379588003</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[FavIcon]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="branding/organisation">Organisation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6391ef5f-9eea-47a4-a5e1-09e72dc929dd</Key>
      <Name>Logo</Name>
      <Alias>organisationLogo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="branding/organisation">Organisation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d08aec33-aca4-41cf-bf92-254ec799850e</Key>
      <Name>Name</Name>
      <Alias>organisationName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="branding/organisation">Organisation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>98b4c453-6859-4914-b578-0545357d29b0</Key>
      <Name>Profiles</Name>
      <Alias>socialMediaProfiles</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="branding/socialMedia">Social Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>00f2e561-8226-455f-8611-484b24564ef2</Key>
      <Caption>Organisation</Caption>
      <Alias>branding/organisation</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>863edcf2-9c8a-4370-bd20-bba3c6c9e2bf</Key>
      <Caption>Social Media</Caption>
      <Alias>branding/socialMedia</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d7340551-d0b1-4ebf-8dcf-7fbe80cada4e</Key>
      <Caption>Branding</Caption>
      <Alias>branding</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>