<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9f44ab1-b18f-4a8f-9d34-626d037b9a54" Alias="Character Set Dropdown" Level="1">
  <Info>
    <Name>Character Set Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "UTF-8"
    },
    {
      "id": 2,
      "value": "ISO-8859-1"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>