<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83ee8477-576f-45ab-9152-b9f71c034f66" Alias="Char Limited Textarea (160)" Level="1">
  <Info>
    <Name>Char Limited Textarea (160)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 160,
  "Rows": null
}]]></Config>
</DataType>