<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ddcb1a0-5e1d-4ce2-8e66-1d9f44251c1a" Alias="Char Limited Textstring (65)" Level="1">
  <Info>
    <Name>Char Limited Textstring (65)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 65
}]]></Config>
</DataType>