<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f24b7e71-c810-4158-bb44-6f51276315c3" Alias="Content Type Dropdown" Level="1">
  <Info>
    <Name>Content Type Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "text/html"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>