<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd01b7b7-4bc9-4883-971b-c29dc1fdfea0" Alias="Meta Keyword Tags" Level="1">
  <Info>
    <Name>Meta Keyword Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "metaKeywords",
  "StorageType": 1
}]]></Config>
</DataType>