<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dbe8522a-5dae-42ee-b782-e5888172d305" Alias="Robots Checklist" Level="1">
  <Info>
    <Name>Robots Checklist</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "noindex"
    },
    {
      "id": 2,
      "value": "nofollow"
    }
  ]
}]]></Config>
</DataType>