<?xml version="1.0" encoding="utf-8"?>
<DataType Key="546cb5a3-29b2-4b65-9788-cdbf3274419c" Alias="Upload FavIcon" Level="1">
  <Info>
    <Name>Upload FavIcon</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "ico"
    }
  ]
}]]></Config>
</DataType>